  <h1>
    {{ title }}
  </h1>
  <form [formGroup]="searchForm">
    <mat-form-field class="example-full-width">
      <input matInput formControlName="searchInput" placeholder="Search Meteotrite Name Here" #input>
    </mat-form-field>
    <button class="search" mat-raised-button color="primary" #myBtn>Search</button>
  </form>

  <!-- <div class="container">
    <form [formGroup]="searchForm">
      <div class="input-group">
        <input type="text" class="form-control" formControlName="searchInput" placeholder="Search Meteotrite Name Here">
            <span class="input-group-btn">
              <button class="btn btn-search" type="button" #myBtn><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
      </div>
    </form>
  </div> -->

  <div class="mat-elevation-z8">
      <div class="spinner-container" *ngIf="dataSource.loading$ | async">

          <mat-spinner></mat-spinner>

      </div>
    <table mat-table [dataSource]="dataSource"
    matSort matSortActive="name" matSortDirection="asc" matSortDisableClear >
       <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nametype">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name Type </th>
      <td mat-cell *matCellDef="let row"> {{row.nametype}} </td>
    </ng-container>

    <!-- Rec Type Column -->
    <ng-container matColumnDef="recclass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rec Type </th>
      <td mat-cell *matCellDef="let row"> {{row.recclass}} </td>
    </ng-container>

    <!-- Mass Column -->
    <ng-container matColumnDef="mass">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mass (g) </th>
      <td mat-cell *matCellDef="let row"> {{row.mass}} </td>
    </ng-container>

    <!-- Fall Column -->
    <ng-container matColumnDef="fall">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fall </th>
      <td mat-cell *matCellDef="let row"> {{row.fall}} </td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
      <td mat-cell *matCellDef="let row"> {{row.year | date: 'yyyy'}} </td>
    </ng-container>

    <!-- Latitude Column -->
    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.geolocation">
            {{row.geolocation.latitude}}
        </div>
       </td>
    </ng-container>

    <!-- Longitude Column -->
    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
      <td mat-cell *matCellDef="let row">
          <div *ngIf="row.geolocation">
         {{row.geolocation.longitude}}
         </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
    </table>
    <mat-paginator [length]=length [pageSize]="50" [pageSizeOptions]="[50, 100, 250, 500]"></mat-paginator>
  </div>

