h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #7985cb;
}
table {
  width: 100%;
}

form {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
}

.mat-form-field {
  text-align: center;
  font-size: 14px;
  width: 40%;
}
.mat-header-cell {
  background: #f5b563;
  font-size: 1rem;
  color: #000000;
}

.search {
  border:2px solid #7985cb;
  background-color:#7985cb;
  color:#fafafa;
  height: 30px;
  font-size: 1rem;
}
